<ion-view view-title="Guides" class="guides">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear" ng-click="login()">
			<div svg-profile class="icon svg-icon login"></div>
		</button>
	</ion-nav-buttons>
    <ion-content scrollbar-x="false" has-bouncing="false">
			<h4 class="subheadline">Street Snacks</h4>
				<ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)">
					<ion-slide ng-repeat="guide in guides">
						<div class="list card padding-bottom">
							<a nav-clear class="item center" href="#/app/guides/{{guide.name}}">
								<div class="item item-image">
									<img ng-src="{{guide.images[0].photo}}">
								</div>
								<button class="button button-outline-headline margin-top">{{ guide.title }}</button>
							</a>
							<p class="margin-horizontal">{{ guide.description }}</p>
							<div ng-show="guide.canDownload" class="progress text-right margin-horizontal">
								<h6 ng-show="removed" class="subheadline">Downloaded</h6>
								<h6 ng-hide="removed" class="subheadline">Free Guide</h6>
								<div class="progress-bar" ng-show="removed"></div>
							</div>
							<div ng-hide="guide.canDownload" class="progress text-right margin-horizontal">
								<h6 ng-hide="guide.canDownload" class="subheadline">Purchase</h6>
							</div>
						</div>
						<a class="tab-item download-cancel" ng-show="guide.canDownload" href="#">
								<i class="icon icon-right" ng-click="removed=!removed" toggle-class="removeGuide"></i>
						</a>
						<a nav clear class="purchase-guide fade-in" ng-hide="guide.canDownload" ng-href="#/app/guides/{{guide.name}}">
								<h4 class="purchase-guide">$1.99</h4>  
						</a>
					</ion-slide>
				</ion-slide-box>
	</ion-content>
</ion-view>
