<ion-view view-title="Guides">
    <ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat="guide in guides">
        <div class="list card">
          <a class="item center" href="#/app/guides/{{guide.name}}">
            <div class="item item-image">
              <img ng-src="{{guide.images[0].illustration}}">
            </div>
            <button class="button button-light margin-top">{{guide.title}}</button>
          </a>
        </div>
      </ion-slide>
    </ion-slide-box>
</ion-view>
