<ion-view view-title="Phrasebook">
	<ion-content ng-controller="PhraseTipsController" class="phrases">
		<ion-list ng-repeat="phrase in phrases">
			<ion-item ng-click="togglePhrase(phrase)" ng-class="{active: isPhraseShown(phrase)}" class="item-icon-float-right">
				{{phrase.english}} <i class="icon icon-right" ng-class="isPhraseShown(phrase) ? 'ion-ios-arrow-down' : 'ion-ios-arrow-right'"></i>
			</ion-item>
			<ion-item class="item-accordion item-icon-float-right" ng-show="isPhraseShown(phrase)">
				<span class="large-text">{{phrase.lang}} <a class="underline" href="#" ng-click="{active: isPhraseShow(phrase)}"> {{phrase.pronounce}}</a></span>		
				<button class="button save" onclick="document.getElementById('player').play()">
					<svg svg-sound viewBox="1 0 30 30" xmlns="http://www.w3.org/2000/svg" class="icon icon-right sound"></svg>
				</button>
				<audio id="player" ng-src="{{phrase.sound}}"></audio>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>