<ion-view view-title="Purchase">
	<ion-content class="padding">
		<div class="card padding">
		<h1 class="h3">Premium Guide</h1>
			<p class="padding-bottom">Interested in trying Street Food but unsure what the food is and whether or not its been prepared properly? Snack Street Guides can help!</p>

		<h4>What you get:</h4>
			 <p class="margin-left">Photo recognition in the palm of your hand. Snap a photo of a dish and Snack Street will break down what it is and how to order it.</p>
			 <p class="margin-left">No more international mystery meat, know what all the locals are eating instantly with this one app!</p>
			 <p class="margin-left padding-bottom">No Data or Wifi required. Each guide can be downloaded and can be accessed anywhere in the world.</p>
		 
	<div class="row">
		<div class="col">
			<button class="button button-block primary-button">Purchase</button>
		</div>		
		<div class="col">
			<a class="button button-block" href="#/app/guides">Cancel</a>
		</div>		
	</div>
		 
		</div>
	</ion-content>
</ion-view>