/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #387ef5 !default;
$calm: #11c1f3 !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$dark: #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import 
  "www/scss/mixins",
  "www/scss/variables",
  "www/scss/menu";


// WIREFRAME STYLES
.item-image {background:$image-placeholder; height:15rem; }
.side-menu-profile {
    text-align:center;
.profile-image {
    background:$image-placeholder;
    width:10rem;
    height:10rem;
    border-radius:50%;
    margin:3rem auto 0;
    }
}

// PROTOTYPE STYLES

// Styling
// -------------------------------
a { text-decoration:none; }
a h1 { line-height:1; }
.uppercase { text-transform:uppercase !important; letter-spacing:0.06em; }
.small-text { font-size:$font-size-small; }
.subheadline { 
    letter-spacing:0.12em; 
    text-transform:uppercase; 
    color:scale-color($base-color,$lightness:60%);
    @include padding(top,0.5em);
    @include padding(left,1em);
}
.box-shadow { box-shadow: 1px 1px 10px rgba(0,0,0,.12); }


// Position
// -------------------------------
.center { text-align:center !important; }

.no-padding {padding: 0 !important; }
.no-padding-vertical {padding-top:0 !important; padding-bottom:0 !important; }
.padding { padding:1rem !important; }
.padding-bottom { padding-bottom:1rem !important; }

.no-margin {margin: 0 !important; }
.margin { margin:1rem !important; }
.margin-top { margin-top:1rem !important; }
.margin-left { margin-left:1rem !important; }
.margin-vertical {margin:1rem 0 !important; }
.margin-horizontal {margin:0 1rem !important; }


// Download/Remove Guides
// -------------------------------
a.tab-item.download-cancel, a.purchase-guide.fade-in {
  position: absolute;
  top: 20%;
  right: 9%;
  height: auto;
  z-index: 2;
}

.download-cancel i.icon.icon-right {
    background-image:url('../img/icon/download.svg');
    width:30px;
    height:30px;
    fill:$base-color;
    &:hover { fill:scale-color($base-color,$lightness:50%); }
}

i.icon.icon-right.removeGuide {
    background-image:url('../img/icon/cancel.svg');
}

// Slide-Right Price Animation
// -------------------------------

// final stage
a.purchase-guide.fade-in {
    top:19%; 
    right:10px;
    opacity:1;
    text-decoration:none; 
    @include transition(all 1s linear);
    @include animation('slide-right 1s ease-in 2s');
}
a.purchase-guide h4 {
    @include button-text-color($primary-color);
    padding:1rem 2rem 1rem 1.5rem;
    @extend .box-shadow;
}

@include keyframes(slide-right) {
  0% { right:0; opacity: 0; }
  100% { right:10px; opacity: 1; }
}


// Progress Bar / Loading Animation
// -------------------------------
.progress-bar {
    position:relative;
    height:8px;
    width:0%;
    @include transition(width 1s linear);
    @include animation('loading-bar 2s');
}

.progress-bar:before, .progress-bar:after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
}
.progress-bar:before {
    bottom:0;
    background-color:scale-color($base-light-color,$lightness:50%);
}

@include keyframes(loading-bar) {
  0% { width:0%; opacity:0; }
  75% { width:100%; }
  100% { width:100%; opacity:1; }
}

// Fade in Repeated List
// -------------------------------
.fade-in-repeat.ng-enter, .fade-in-repeat.ng-move {
    @include transition(all 1s linear);
    opacity:0;
}

.fade-in-repeat.ng-enter.ng-enter-active, .fade-in-repeat.ng-move.ng-enter-active {
    opacity:1;
}

.fade-in-repeat.ng-leave {
    @include animation('fade-in 0.25s ease-in');
}

@include keyframes(fade-in) {
  0% { opacity:0; }
  100% { opacity:1; }
}

// Button
// -------------------------------
.button-outline-headline {
    @extend .button-outline;
    @extend .uppercase;
    padding:0.25rem 2rem;
    font-size:1.25rem;
    color:$base-color;
    font-weight:bold;
    border-color:$base-color;
}

// Search
// -------------------------------
.item-input-wrapper {
    @include padding(left, 25px);
}

// Guides Page
// -------------------------------
.guides .slider-pager { bottom:0; margin-bottom:2px; }
.guides .slider-slide {
    padding-top: 3em;
    .item.activated {
        background-color:transparent;
    }
}
.guides .card {
    @include margin(top, 55px);
    @include margin(bottom, 40px);
    @extend .box-shadow;
}
.guides .item { border-color:transparent; }

// Dishes
// -------------------------------
a.tab-item.highlightLoved {
  height: 48px;
}
.dishes .highlightSaved i.icon,
.dishes .highlightTried i.icon,
.dishes .highlightLoved i.icon,
.dishes .small-text { color:$contrast-color; }
.dishes .unlove {position:relative; width:42px; height:44px; top:-28px; left:1px; }
.unlove .small-text {position:absolute; left:7px; bottom:-5px; }

.dish-image {
	width:100%;
	overflow:hidden;
	position:relative;
}