/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #387ef5 !default;
$calm: #11c1f3 !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$dark: #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import 
  "www/scss/mixins",
  "www/scss/menu",
	"www/scss/positioning",
	"www/scss/svg",
	"www/scss/animations",
	"www/scss/variables";


// WIREFRAME STYLES
.item-image {background:$image-placeholder; height:15rem; }
.dishes .slider {background:$image-placeholder; }
.side-menu-profile {
    text-align:center;
}
.profile-image {
    background:$image-placeholder;
    width:10rem;
    height:10rem;
    border-radius:50%;
    margin:3rem auto 0;
	  &.user {
			width:5rem;
			height:5rem;
			margin:0 1rem 0 0.5rem;
		}
}

// PROTOTYPE STYLES

// Styling
// -------------------------------
a { text-decoration:none; }
a.underline { text-decoration:underline; }
a h1 { line-height:1; }
.uppercase { text-transform:uppercase !important; letter-spacing:0.06em; }

span.small-text { position:relative; top:-4px; }
.small-text { font-size:$font-size-small; }
.large-text {font-size:$font-size-large; }
.subheadline { 
    letter-spacing:0.12em; 
    text-transform:uppercase; 
    color:scale-color($base-color,$lightness:60%);
    @include padding(top,0.5em);
    @include padding(left,1em);
}
.box-shadow { box-shadow: 1px 1px 10px rgba(0,0,0,.12); }

.nav-bar-tabs-top .bar-light.bar.bar-header {
	border: 1px solid rgba(221, 221, 221, 0.5);
}

ion-item.item.item-accordion {
	background:scale-color($base-light-color,$lightness:85%);
}
.item-icon-float-right {
	i.icon {
		float:right;
		font-size: 1.25rem;
  	padding-right: 5px;
	}
	button {
		float:right;
	}
}

.item-complex .item-content { padding-right:20px; padding-bottom:10px; }
ion-option-button.button {
	min-width:40px;
	.button-positive {
		border-color:scale-color($primary-color,$lightness:50%);
		background-color:$primary-color;
		@include button-text-color($primary-color);
	}
}
ion-option-button.button.button-info .ion-edit:before {font-size:20px; }

.block-grid {
	overflow:hidden;
	padding:0.25rem;
	&:before {
		content: "";
		display:table;
	}
	li {
		float:left;
		width:50%;
		padding: 0.25rem;
	}
	a {
		text-align:center; 
	}
	img {
		display:block;
		width:100%;
	}
}

.order-dish fieldset.form-group {border:0; }
fieldset.form-group.textarea { border:0; padding-top:0.75rem; padding-left:1rem; }
textarea.form-control { width:75%; height:30px; resize:none; float:left; }
fieldset.textarea .button.save-button {
	@include button-text-color($contrast-color);
	background:$contrast-color;
	min-height: 40px;
	font-weight: 300;
	margin-right:10px;
}
.item-my-reviews p, .item-user-reviews p {padding-top:0.12rem; padding-bottom:0.5rem; }

button.button.button-icon.button-clear.ion-navicon.menu-toggle {
	position:fixed;
	z-index:11;
	cursor:pointer;
}

// Download/Remove Guides
// -------------------------------
a.tab-item.download-cancel, a.purchase-guide.fade-in {
  position: absolute;
  top: 7%;
  right: 9%;
  height: auto;
  z-index: 2;
}

.download-cancel i.icon.icon-right {
    //background-image:url('../img/icon/download.svg');
    @include svg-icon(download);
}

i.icon.icon-right.removeGuide {
    //background-image:url('../img/icon/cancel.svg');
		@include svg-icon(cancel);
}

// Modals
// -------------------------------
.image-modal, .open-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.open-modal .translation {
	background-color:$primary-color;
}
 
.image-modal .fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.image-modal.camera-modal .fullscreen-image {
	left: -40%;
	overflow:visible;
	position:relative;
}
 
.image-modal .slider {
    width: 100%;
    height: 100%;
}

.slider-slides img.dish {
  width: 100% !important;
}

// Close Button
a.close-modal-button {
	position:absolute;
	top:0%;
	right:2%;
	height:40px;
	width:40px;
	z-index: 2;
}

a.tab-item.close-modal-button .icon {
	font-size:50px;
	height:35px;
	color:$base-color;
}

.camera-modal {}
.camera-controls .left-side svg-icon {
  font-size: 3rem;
  float: right;
  margin-top: 45px;
  margin-right: 15px;
	color:scale-color($base-color,$lightness:65%);
}
.camera-controls .right-side svg-icon {
  font-size: 3rem;
  float: left;
  margin-top: 45px;
  margin-left: 15px;
	color:scale-color($base-color,$lightness:65%);
}

// camera icon
.button.button-icon.svg-icon.images {
	@include svg-icon(images);
}
.button.button-icon.svg-icon.blur {
	@include svg-icon(blur);
}

.camera-controls .button.circle-button {
	background:$primary-color;
	width:5.5rem;
	height:5.5rem;
	border-radius:50%;
	margin:0.5rem auto 0;
	border:5px solid $base-light-color; 
}
.camera-controls .button.circle-button.activated {
	background:scale-color($primary-color,$lightness:50%);
}

// Slide-Right Price Animation
// -------------------------------

// final stage
a.purchase-guide.fade-in {
    top:6%; 
    right:10px;
    opacity:1;
    text-decoration:none; 
    @include transition(all 1s linear);
    @include animation('slide-right 1s ease-in 2s');
}
a.purchase-guide h4 {
    @include button-text-color($primary-color);
    padding:1rem 2rem 1rem 1.5rem;
    @extend .box-shadow;
}

@include keyframes(slide-right) {
  0% { right:0; opacity: 0; }
  100% { right:10px; opacity: 1; }
}


// Progress Bar / Loading Animation
// -------------------------------
.progress-bar {
    position:relative;
    height:8px;
    width:0%;
    @include transition(width 1s linear);
    @include animation('loading-bar 2s');
}

.progress-bar:before, .progress-bar:after {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
}
.progress-bar:before {
    bottom:0;
    background-color:scale-color($base-light-color,$lightness:50%);
}

@include keyframes(loading-bar) {
  0% { width:0%; opacity:0; }
  75% { width:100%; }
  100% { width:100%; opacity:1; }
}

// Fade in Repeated List
// -------------------------------
.fade-in-repeat.ng-enter, .fade-in-repeat.ng-move {
    @include transition(all 1s linear);
    opacity:0;
}

.fade-in-repeat.ng-enter.ng-enter-active, .fade-in-repeat.ng-move.ng-enter-active {
    opacity:1;
}

.fade-in-repeat.ng-leave {
    @include animation('fade-in 0.25s ease-in');
}

@include keyframes(fade-in) {
  0% { opacity:0; }
  100% { opacity:1; }
}

// Button
// -------------------------------
.button-outline-headline {
    @extend .button-outline;
    @extend .uppercase;
    padding:0.25rem 2rem;
    font-size:1.25rem;
    color:$base-color;
    font-weight:bold;
    border-color:$base-color;
}

.order-dish .button, .phrases .button {
	@include button-text-color($contrast-color);
	font-weight:300;
	display:inline;
	font-size: 1rem;
	min-height:40px;
}

// Phrasebook
ion-item.item-icon-float-right.item.ng-binding.active {
	color:scale-color($base-color,$lightness:50%);
	background-color:scale-color($base-light-color,$lightness:50%);
}

.button.save, .button.play {
	background-color:transparent; 
	border:none;
	min-height:35px;
	min-width:9%; 
	padding:0 0 0 3%;
}

.button.icon-favorite {
	@extend .button.save;
}

.button.save svg.icon path#activated, .button.save.activated svg.icon polygon {
	fill:$base-color;
}

// Search
// -------------------------------
.item-input-wrapper {
    @include padding(left, 25px);
}

// Guides Page
// -------------------------------
.guides .slider-pager { bottom:0; margin-bottom:2px; }
.guides .slider-slide {
    .item.activated {
        background-color:transparent;
    }
}
.guides .card {
		@include margin(top, 10px);
    @include margin(bottom, 40px);
    @extend .box-shadow;
}
.guides .item { border-color:transparent; }

// Save Dish Icons
.save-icons {
	@extend .no-padding;
	width:150px;
	right:0;
}

// Hide Helpful Count
.item-my-reviews a.tab-item span.badge-text {
	visibility:hidden;
}

.item-my-reviews a.tab-item.unhide span.badge-text {
	visibility:visible;
}

// Dishes
// -------------------------------
a.tab-item.highlightLoved {
  height: 48px;
}
.dishes .highlightSaved i.icon,
.dishes .highlightTried i.icon,
.dishes .highlightLoved i.icon,
.dishes .small-text { color:$contrast-color; }
.dishes .unlove {position:relative; width:42px; height:44px; top:-28px; left:1px; }
.unlove .small-text {position:absolute; left:6px; top:25px; }

.dish-image {
	width:100%;
	overflow:hidden;
	position:relative;
}

.dishes .card .item.item-image {
  border: none;
}

.dishes .over-image-info {
	position:absolute;
	top:0;
	right:0;
	text-align:right;
	width:350px;
	color:scale-color($base-light-color,$lightness:50%);
	background: -moz-linear-gradient(10deg, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.65) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(50%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
background: -webkit-linear-gradient(10deg, rgba(0,0,0,0) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%);
background: -o-linear-gradient(10deg, rgba(0,0,0,0) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%);
background: -ms-linear-gradient(10deg, rgba(0,0,0,0) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%);
background: linear-gradient(10deg, rgba(0,0,0,0) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.65) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
}

.dishes .over-image-info-share {
	position:absolute;
  top: 195px;
  left: 5px;
	z-index:3; 
}
.over-image-info-share.base-color {
	top: 8px;
	left:auto;
  right: 8px;
}
.over-image-info-share i.icon {
	color:#fff;
}
.over-image-info-share.base-color i.icon {
	color:scale-color($base-color,$lightness:65%);
}

.dishes .item-body {
	padding:8px; 
}

.condensed-keywords {
	margin-top:18px; 
	li {padding-left:5px; }
}
.keywords {
	li {padding-right:5px; }
	li span {
  	background:scale-color($base-light-color,$lightness:80%);
  	padding: 0.35rem;
  	border-radius: 5px;
		border:thin solid scale-color($base-color,$lightness:80%);
	}
	.small-text {
		color:scale-color($base-color,$lightness:50%);	
	}
}

.saveDish h2 {
  font-size: 1.75rem;
}

// Order Dish
// -------------------------------
.dishes .ion-input-select {
  -webkit-appearance:none;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);  
  border:thin solid #dddddd;
  font-weight:300;
  display:inline;
  vertical-align:middle;
  color:#333;
  padding: auto 0;
  overflow:hidden;
  box-sizing:border-box;

}

.dishes .ion-input-select {
  width:113px;
  font-size:1rem;
  background-image: url(http://i.imgur.com/nA9xx1X.png);
	background-position: -85px 3px;
  text-indent:15px;
  padding: 10px 0;
}

.sortDishes .ion-input-select {
	width:145px;
	background-position: -55px 3px;
}

.dishes option {
  background:#444;
}

.dishes select::-ms-expand {
    display: none;
}

.dishes :focus {
  outline:none;
}

// Ingredient Gallery
img.image-list-thumb {
	width:100px;
	height:100px;
}

// User Reviews/Comments on Dish
.item-my-reviews .tab-item .icon, .item-user-reviews .tab-item .icon {
	font-size:1rem;
	height:1rem;
}
.item-my-reviews .tab-item , .item-user-reviews .tab-item {overflow:visible; }
.item-my-reviews .badge-text, .item-user-reviews .badge-text {
		z-index:1;
		display:inline;
		border-radius:10px;
		text-align:center;
		vertical-align: baseline;
		white-space: nowrap;
		color:#444; 
		border:1px solid $contrast-color;
		position:relative;
		padding:1px 6px;
		height:auto;
		font-size:0.9rem;
		line-height:1.5;
		margin-left:5px;
}

// Saved List
.item-image.saved-list .list-img, .item-image.saved-list img:first-child {
  height: 100% !important;
  width: auto !important; 
}
.profile-name {
	@extend h5;
	margin-top:2px;
}
.main-profile i.icon {
	font-size:1.12rem;
	color:$base-color;
}
.profile .has-tabs-top {top:0; }
.profile .tabs-top>.tabs, .profile .tabs.tabs-top {
	top:292px;
}

.profile .list {margin-top:36px; }
.profile h2 {padding-top:3px; }
.profile a.item-content {padding-top:12px; }

.savedList .has-header {
  top: 44px;
}

// Translation Cards
.translation-card.tab-content {
  margin-top: 15%;
	text-align:center;
}

.translation-card {
	.row {
		width:80%; 
		margin:0 auto;
		text-align:center;
	}
	.col-content {width:100%; }
	.col-buttons {width:100%; }
	h1 {
		font-size:5em;
	}
}

.translation-card.lao.tab-content {
	margin-top:10%; 
	.row {
		width:100%; 
	}
}