<svg viewBox="1 0 30 30" xmlns="http://www.w3.org/2000/svg">
	<g id="sound">
		<g id="icon_x5F_vol_1_" display="inline">
			<path id="activated" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M3.316,10.487
				v9.025h7.413l6.124,6.124V4.364l-6.124,6.123H3.316z"/>
			<path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M23.622,5.895
				c1.934,2.578,3.062,5.721,3.062,9.105c0,3.384-1.128,6.606-3.062,9.105"/>
			<path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M20.272,9.038
				c1.209,1.611,1.935,3.706,1.935,5.881c0,2.176-0.726,4.271-1.935,5.882"/>
		</g>

			<path display="inline" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
			M15,15"/>
	</g>
</svg>