<div class="modal image-modal transparent">
	<ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true" active-slide="activeSlide">
			<ion-slide ng-repeat="ingredient in dish.ingredients">
				<div class="fullscreen-image">
					<div class="row">
						<div class="col center">
							<img ng-src="{{ingredient.src}}">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<h3 class="subheadline">{{ingredient.name}}</h3>
						</div>
					</div>
					<div class="row padding-horizontal">
							<div class="col padding-left margin-horizontal">
								<p>{{ingredient.description}}</p>
							</div>
					</div>
				</div>
			</ion-slide>
	</ion-slide-box>
	<a class="tab-item close-modal-button" ng-click="closeModal()">
		<i class="icon ion-ios-close-empty"></i>
	</a>
</div>