<ion-modal-view class="modal open-modal translation">
		<ion-tabs class="tabs-striped">
			<ion-tab title="Order">
				<div class="translation-card">
					<div class="row">
						<div class="col-content">
							<h2>lahp taohu bo phed</h2>
							<p>minced tofu salad no spicy</p>
						</div>
					</div>
					<div class="row">
						<div class="col-buttons">
							<audio id="player" ng-src="audio/tofu-lahp.mp3"></audio>
							<button class="button play"  onclick="document.getElementById('player').play()">
								<div svg-sound class="icon icon-right sound"></svg>
							</button>
							<button class="button save icon-favorite favorite" ng-click="removed=!removed" toggle-class="save">
								<div svg-favorite class="icon icon-right favorite"></div>
							</button>
						</div>
					</div>
				</div>
			</ion-tab>
			<ion-tab title="Translate">
				<div class="translation-card">
					<div class="row padding">
						<div class="col-content">
							<h1>ລາບເຕົາຮູ່ ບໍ່ ເຜັດ</h1>
						</div>
					</div>
				</div>
			</ion-tab>
		</ion-tabs>
	</div>
	<a class="tab-item close-modal-button" ng-click="closeModal()">
		<i class="icon ion-ios-close-empty"></i>
	</a>

</ion-modal-view>