<ion-list>
	<ion-item class="item-thumbnail-left" href="#/app/guides/laos/lahp">
			<div class="item item-image saved-list">
				<img src="img/lahp/thehungrypup-laap.jpg">
			</div>
			<p><a class="underline" href="#">gloomyTofu</a> wants to try:</p>
			<h2 class="h1">lahp ລາບ</h2>
			<p>Spicy meat or fish salad.</p>
	</ion-item>
	<ion-item class="item-thumbnail-left" href="#/app/guides/laos/tam-mak-hung">
			<div class="item item-image saved-list">
				<img src="img/tam-mak-hung/6585680099_2038e7c6d0_z.jpg">
			</div>
			<p><a class="underline" href="#">gloomyTofu</a> tried:</p>
			<h2>tam màk hung ຕໍາໝາກຮຸ່ງ</h2>
			<p>Sour and spicy green papaya salad.</p>
	</ion-item>
</ion-lists>