<ion-content class="savedList has-header">
<ion-list>
	<ion-item class="item-thumbnail-left" href="#/app/guides/laos/lahp">
			<button class="button save icon-favorite float-right" ng-click="removed=!removed" toggle-class="save">
			<svg svg-favorite viewBox="1 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon icon-right favorite"></svg></button>
			<div class="item item-image saved-list">
				<img src="img/lahp/thehungrypup-laap.jpg">
			</div>
			<h2>lahp ລາບ</h2>
			<p>Spicy meat or fish salad.</p>
	</ion-item>
</ion-lists>

</ion-content>