<ion-content class="savedOrders has-header" ng-controller="OrderCards">
<ion-list>
	<ion-item class="card padding" ng-click="openModalOne()">
		<button class="button save icon-favorite float-right" ng-click="removed=!removed" toggle-class="save">
			<div svg-favorite class="icon icon-right favorite"></div></button>
			<h2>lahp tofu no spicy</h2>
			<p>ລາບເຕົາຮູ່ ບໍ່ ເຜັດ lab taohu bo phed</p>
	</ion-item>
	<ion-item class="card padding" ng-click="openModalThree()">
		<button class="button save icon-favorite float-right" ng-click="removed=!removed" toggle-class="save">
			<div svg-favorite class="icon icon-right favorite"></svg></button>
			<h2>papaya salad very spicy</h2>
			<p>ຕໍາໝາກຮຸ່ງ ເອົາ ເຜັດ ໆ tam mak hoong au phed phed</p>
	</ion-item>
</ion-lists>

</ion-content>