<ion-content class="savedList has-header">
<ion-list>
	<ion-item class="item-thumbnail-left" href="#/app/guides/laos/lahp">
			<button class="button save icon-favorite float-right" ng-click="removed=!removed" toggle-class="save">
			<div svg-favorite class="icon icon-right favorite"></div>
			</button>
			<div class="item item-image saved-list">
				<img src="img/lahp/5061197877_d91489fb96_z.jpg">
			</div>
			<h2>lahp ລາບ</h2>
			<p>Spicy meat or fish salad.</p>
	</ion-item>
</ion-lists>

</ion-content>