// Slide in from the right, used for modals
// -------------------------------

.slide-in-right {
  @include translate3d(0, 100%, 0);
}
.slide-in-right.ng-enter,
.slide-in-right > .ng-enter {
  @include transition(all cubic-bezier(.1, .7, .1, 1) 400ms);
}
.slide-in-right.ng-enter-active,
.slide-in-right > .ng-enter-active {
  @include translate3d(0, 0, 0);
}

.slide-in-right.ng-leave,
.slide-in-right > .ng-leave {
  @include transition(all ease-in-out 250ms);
}

.list ion-item.item-accordion {
	line-height:2;
	@include transition(0.09s all linear);
}

.list ion-item.item-accordion.ng-hide {
	line-height:0;
	@include transition(0.09s all linear);
}

.list ion-item.item-accordion.ng-hide-add, .list ion-item.item-accordion.ng-hide-remove {
	display: block !important;
}