// MIXINS
// -------------------------------
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
// p { @include font-size(14px) }

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
  @content;
}
  @-moz-keyframes $animation-name {
  @content;
}
  @-ms-keyframes $animation-name {
  @content;
}
  @-o-keyframes $animation-name {
  @content;
}
  @keyframes $animation-name {
  @content;
}
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
// @include transition(color .3s ease);


@mixin margin($side, $x){
  margin-#{$side}: $x;
}

@mixin padding($side, $x){
  padding-#{$side}: $x;
}

@function set-button-text-color($color) {
    @if (lightness( $color ) > 40) {
      @return $base-color;
    }
    @else {
      @return #FFFFFF;
    }
}
@mixin button-text-color($color){
    background:$color;
    color:set-button-text-color($color);
}