// Position
// -------------------------------
.relative {position:relative !important; }
.absolute {position:absolute !important; }

.center { text-align:center !important; }

.no-padding {padding: 0 !important; }
.no-padding-top {padding-top: 0 !important; }
.no-padding-vertical {padding-top:0 !important; padding-bottom:0 !important; }
.padding { padding:1rem !important; }
.padding-bottom { padding-bottom:1rem !important; }

.no-margin {margin: 0 !important; }
.margin { margin:1rem !important; }
.margin-top { margin-top:1rem !important; }
.margin-bottom { margin-bottom:1rem !important; }
.margin-left { margin-left:1rem !important; }
.margin-vertical { margin:1rem 0 !important; }
.margin-horizontal { margin:0 1rem !important; }

.float-left { float:left !important; }
.float-right { float:right !important; }