.svg-icon {
	display:block;
	width: 30px;
  height: 30px;
}

.bar .button.button-icon.svg-icon .icon:before, .bar .button.button-icon.svg-icon.icon-left:before, .bar .button.button-icon.svg-icon.icon-right:before, .bar .button.button-icon.svg-icon:before {
  vertical-align: top;
	padding-right: 2px;
  padding-left: 2px;
}

svg.icon {
	@extend .svg-icon;
}

svg.icon.icon-right {
  position: relative;
  right: -5px;
}

svg.icon path {
	display:inline;
	fill:$base-background-color;
	stroke:$base-color;
	stroke-width:1;
}

// account icon
.bar-light .button.button-icon.svg-icon.login, .bar-light .button.button-clear.svg-icon.login, .bar-light.button.button-icon.svg-icon.login:before {
	@include svg-icon(profile);
	background-position: 0px 1px;
	border-width:2px;
}

.bar-light .button.button-icon.svg-icon.camera, .bar-light .button.button-clear.svg-icon.camera, .bar-light.button.button-icon.svg-icon.camera:before {
	@include svg-icon(camera);
	background-position: 0px 3px;
	border-width:0;
	margin-right:5px;
}

// camera icon
.button.button-icon.svg-icon.images, .button.button-icon.svg-icon.images:before {
	@include svg-icon(images);
}
.button.button-icon.svg-icon.blur, .button.button-icon.svg-icon.blur:before {
	@include svg-icon(blur);
}