
// Colors
// -------------------------------

$image-placeholder:               #fff;

$base-background-color:           rgb(250, 250, 250) !default;
$base-color:                      #4D4D4D !default; // dark gray
$primary-color:                   #007FC6 !default; // blue
$contrast-color:                  #FF8B00 !default; // orange
$base-light-color:                #D2D2D2 !default;  // light gray

// Base
// -------------------------------

$font-family-sans-serif:          "Open Sans", "Roboto", sans-serif !default;
$font-family-light-sans-serif:    "HelveticaNeue-Light", "Roboto-Light", sans-serif-light !default;
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

$link-color:                      $positive !default;
$link-hover-color:                darken($link-color, 15%) !default;

$content-padding:                 10px !default;

$padding-base-vertical:           6px !default;
$padding-base-horizontal:         12px !default;

$padding-large-vertical:          10px !default;
$padding-large-horizontal:        16px !default;

$padding-small-vertical:          5px !default;
$padding-small-horizontal:        10px !default;

$font-size-small:									10px !default;